:root {
  --fontmaincolour: #212121;
  --blue: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --backgroundlightblue: #f5f4fa;
  --backgroundgrey: #2f303a;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --backgroundbackdrop: rgba(000, 000, 000, 0.2);
  --activecolor: #2196f3;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--fontmaincolour);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

.visible-border {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.logo-header {
  text-decoration: none;
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  margin: 0;
  padding: 24px 0 25px 0;
}

.logo-blue-text {
  color: var(--blue);
}

.links-not-underlined {
  text-decoration: none;
  color: var(--grey);
}

.navi-list-style {
  margin: 0;
}

.navi-list-style:hover {
  color: var(--activecolor);
}

.navi-list-style:focus {
  color: var(--activecolor);
}

.navi-list {
  display: flex;
  list-style: none;
  line-height: 1.2;
  gap: 46px;
  margin-left: 93px;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  padding: 32px 0;
}

.links-contacts {
  display: flex;
  flex-direction: row;
  color: var(--grey);
  font-weight: 500;
  list-style: none;
  letter-spacing: 0.02em;
  margin: 0;
  gap: 50px;
  padding: 32px 0 32px 404px;
}

.links-contacts-style {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.links-contacts-style:hover {
  color: var(--activecolor);
}

.links-contacts-style:focus {
  color: var(--activecolor);
}

.section-top {
  background-color: var(--backgroundgrey);
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 200px 0 200px;
}

.section-top-title {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  max-width: 1600px;
  letter-spacing: 0.06em;
  color: var(--white);
  padding: 0;
  margin: 0;
}

.main-button-style {
  background-color: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 280px 0;
  padding: 10px 41px 10px 42px;
}

.section-top-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  padding: 6px 22px;
}

.speciality-style {
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.speciality-list-style {
  flex-direction: column;
  gap: 30px;
  list-style: none;
  margin: 94px 0;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  padding-left: 0;
  padding-bottom: 10px;
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
  padding: 0;
}

.section-jobs-style {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 94px;
}

.section-jobs-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
}

.section-jobs-img {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  gap: 30px;
  justify-content: center;
  width: 100%;
  padding-bottom: 94px;
}

.section-team {
  flex-direction: column;
  background-color: var(--backgroundlightblue);
  justify-content: center;
  align-items: center;
  padding: 0 200px 94px 200px;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  justify-items: center;
  padding-bottom: 50px;
  padding-top: 94px;
}

.team-list-style {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.team-card-container {
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 270px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}

.team-member {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px 0 0 0;
  gap: 10px;
}

.member-proffession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin: 0 0 30px 0;
}

.zero-margin {
  margin: 0;
}

.zero-padding {
  padding: 0;
}

.footer-style {
  flex-direction: column;
  background-color: var(--backgroundgrey);
  max-width: 1600px;
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 185px;
}

.logo-footer {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
  background: var(--backgroundgrey);
  width: 145px;
  height: 31px;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  color: var(--footerlinks);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: var(--backgroundgrey);
  font-style: normal;
  gap: 9px;
}

.footer-links:hover {
  color: var(--activecolor);
}

.footer-links:focus {
  color: var(--activecolor);
}

.links-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-address {
  color: var(--white);
  font-style: normal;
  padding: 0;
  margin: 0;
}

/*strona portfolio*/

.wrapper {
  background-color: var(--white);
  width: 1600px;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0;
}

.buttons-selection {
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  padding: 0 0 50px 0;
}

.buttons-list {
  font-family: "Roboto";
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  border-width: 0;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  background: var(--backgroundlightblue);
  cursor: pointer;
}

.buttons-list:hover {
  background-color: var(--activecolor);
  color: var(--white);
}

.buttons-list:focus {
  background-color: var(--activecolor);
  color: var(--white);
}

.products-container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 2 * 30px) / 3);
  background: var(--white);
  list-style: none;
  padding-bottom: 0;
}

.product-card {
  width: 370px;
  height: 404px;
  background: var(--white);
  margin: 0;
  padding: 0;
  border: none;
}

.product-description-container {
  background: var(--white);
  border: 1px solid var(--productborder);
  width: 368px;
  height: 110px;
  margin: 0;
  padding: 0;
}

.product-card-header {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0;
  padding: 20px 24px 4px 20px;
}

.product-card-description {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--grey);
  margin: 0;
  padding: 0 24px 20px 24px;
}

img {
  display: block;
}
