:root {
  --fontmaincolour: #212121;
  --blue: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --backgroundlightblue: #f5f4fa;
  --backgroundgrey: #2f303a;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --backgroundbackdrop: rgba(000, 000, 000, 0.2);
  --activecolor: #2196f3;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--fontmaincolour);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.logo-header {
  text-decoration: none;
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
}

.logo-blue-text {
  color: var(--blue);
}

.links-not-underlined {
  text-decoration: none;
  color: var(--grey);
}

.navi-list {
  display: flex;
  list-style: none;
  line-height: 1.2;
  margin: 0;
  gap: 46px;
}

.navi-list:hover {
  color: var(--activecolor);
}

.navi-list:focus {
  color: var(--activecolor);
}

.links-contacts {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.links-contacts:hover {
  color: var(--activecolor);
}

.links-contacts:focus {
  color: var(--activecolor);
}

.links-contacts-style: {
  padding: 0 0 0 278px;
  gap: 50px;
}

.section-top {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--backgroundgrey);
  width: 100%;
  height: 600px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.main-button-style {
  display: block;
  background-color: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 700px;
  margin-bottom: 200px;
  margin-left: 700px;
}

.section-top-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.speciality-style {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 94px 0 0 0;
  gap: 30px;
  justify-content: center;
}

.speciality-list-style {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  margin: 0;
  justify-content: center;
}
.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0 0 10px 0;
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0 50px 0;
}

.section-header-style {
  align-items: center;
  flex-direction: column;
  padding: 94px 0;
}

.team-background {
  background-color: var(--backgroundlightblue);
  padding: 94px 0;
}

.team-list {
  list-style: none;
  justify-content: center;
}

.team-list-style {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px 0 10px 0;
}

.member-proffession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.zero-margin {
  margin: 0;
}

.zero-padding {
  padding: 0;
}

.footer-style {
  width: 100%;
  background-color: var(--backgroundgrey);
  padding: 60px 0;
  padding-left: 215px;
}
.logo-footer {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
  background: var(--backgroundgrey);
  width: 145px;
  height: 31px;
}

.footer-links {
  color: var(--footerlinks);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: var(--backgroundgrey);
  font-style: normal;
  padding: 0;
}

.footer-links:hover {
  color: var(--activecolor);
}

.footer-links:focus {
  color: var(--activecolor);
}

.links-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-address {
  color: var(--white);
  margin: 20px 0 0 0;
  font-style: normal;
}

/*strona portfolio*/
.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--white);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 25px 0 24px 0;
  gap: 93px;
}

.buttons-selection {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
  margin-top: 94px;
}

.buttons-list {
  font-family: "Roboto";
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  border-width: 0;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  background: var(--backgroundlightblue);
}

.buttons-list:hover {
  background-color: var(--activecolor);
  color: var(--white);
}

.buttons-list:focus {
  background-color: var(--activecolor);
  color: var(--white);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background: var(--white);
  list-style: none;
  border: 1px solid rgba(238, 238, 238, 1);
  margin: 50 auto 94 auto;
}

.product-card {
  width: 370px;
  height: 404px;
  background: var(--white);
  border: 1px solid var(--productborder);
  margin: 0;
}
