:root {
  --fontmaincolour: #212121;
  --blue: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --backgroundlightblue: #f5f4fa;
  --backgroundgrey: #2f303a;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --backgroundbackdrop: rgba(000, 000, 000, 0.2);
  --activecolor: #2196f3;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--fontmaincolour);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.logo-header {
  text-decoration: none;
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
}

.logo-blue-text {
  color: var(--blue);
}

.links-not-underlined {
  text-decoration: none;
  color: var(--grey);
}

.navi-list {
  list-style: none;
  line-height: 1.2;
}

.navi-list:hover {
  color: var(--activecolor);
}

.navi-list:focus {
  color: var(--activecolor);
}

.links-contacts {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.links-contacts:hover {
  color: var(--activecolor);
}

.links-contacts:focus {
  color: var(--activecolor);
}

.section-top {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--backgroundgrey);
}

.main-button-style {
  display: block;
  background-color: var(--blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 700px;
  margin-bottom: 200px;
  margin-left: 700px;
}

.section-top-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.description-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-proffession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.logo-footer {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
  background: var(--backgroundgrey);
}

.footer-links {
  color: var(--footerlinks);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  border: 1px solid black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-links:hover {
  color: var(--activecolor);
}

.footer-links:focus {
  color: var(--activecolor);
}

.footer-address {
  color: var(--white);
}

.footer-contacts {
  border: none;
  text-shadow: none;
}
