:root {
  --fontmaincolour: #212121;
  --blue: #2196f3;
  --white: #ffffff;
  --grey: #757575;
  --backgroundlightblue: #f5f4fa;
  --backgroundgrey: #2f303a;
  --footerlinks: rgba(255, 255, 255, 0.6);
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
  --iconcolor: #afb1b8;
  --footericon: rgba(255, 255, 255, 0.1);
  --backgroundbackdrop: rgba(000, 000, 000, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--fontmaincolour);
}

.logo-header {
  text-decoration: none;
  width: 145px;
  height: 31px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.logo-black {
  color: black;
}

.links-not-underlined {
  text-decoration: none;
  color: var(--grey);
}

.navi-list {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: var(--fontmaincolour);
}

.navi-list:hover,
.navi-list:focus {
  color: var(--activecolor);
}

.links-contact {
  color: var(--grey);
}

.links-contact:hover,
.links-contact:focus {
  color: var(--activecolor);
}

.section-top {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--backgroundgrey);
}

.main-button-style {
  display: block;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: white;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 700px;
  margin-bottom: 200px;
  margin-left: 700px;
}

.section-top-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.description-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-proffession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.logo-footer {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.footer-links {
  color: var(--footerlinks);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  border: 1px solid black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-place {
  color: var(--white);
}

.footer-phone {
  border: none;
  text-shadow: none;
}
